$main: #00375b;
$secondary: #dfa526;
$light-gray: #f9f9f9;
$white: #fff;
$black: #000000;
$gray: #dddddd;
$dark-gray: #43425d;
$light-secondary: #ffc06a;
$main-op: rgba(0, 55, 91, 0.4);
$black-op: rgba(0, 0, 0, 0.1);
$red: #ff0000;
